@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<body style="margin:0; padding:0;">
    <div style=" position:absolute; left:0; right:0;">

        <div style="width:100%; background-image: url('../assets/videos/purple_curcuits.gif');  filter:hue-rotate(135deg)">
            <div style="padding:0px; padding-top:60px; position:relative; animation:animatetop 1s;">
                <h1 class="logo-primary" style="text-align: center; color: #E7E7E7">AI AID</h1>
                <div class="logo-primary" style=" text-align: center; color: #E7E7E7">Live. Life. Simpler.</div>
            </div>
            <div style="justify-content:right;" class="w3-container w3-center w3-animate-right">1
                <img src="~/assets/images/MainwebAidenPNMG.png" style="padding:0px; width:60%; height:60%; position:relative; animation:animateright 4s;filter:hue-rotate(-135deg)">
            </div>
        </div>


        <div class="" style="width:100%; padding:10px; background-image: url('../assets/images/circuits.png'); left:0; right:0;">
            <div style="display:flex; flex-direction:column; padding:20px;">
                <div>
                    <h1 class="logo-primary" style="color: #000000; text-align:center;">The Newest Innovation in AI Technology</h1>
                </div>
                <p class="logo-primary" style="color: #000000; padding-left:10px; padding-right:10px; text-align:center;">
                    It's finally here. AI-AID's AIDEN MK I robot is avaiable for consumer purchase. After countless years of rigorous prototyping, testing, and developing,
                    the AIDEN MK I robot is finally ready to entertain, educate, and further enhance your day-to-day life. Using our patented Personality Injection System along with the
                    3 provided SmartChip slots, AIDEN is equipped to thrive at any task you throw at it. If you need something done, AIDEN can make it happen, giving you more time
                    to finally live your life.
                </p>
            </div>
        </div>
        <div class="boxfade" style="width:100%; padding:10px; background-color:#000000; left:0; right:0;">
            <div style="display:flex; flex-direction:column;">
                <div>
                    <h1 class="logo-primary" style="color: #FFFFFF; text-align:center;">What is AIDEN?</h1>
                </div>
                <p class="logo-primary" style="color: #FFFFFF; padding-left:10px; padding-right:10px; text-align:center;">
                    The friendly AIDEN MK1 Robot is an all in one time-saving, chore-doing, fun-having Artificial Companion specifically designed to
                    give you back that free time you so desperately deserve.
                </p>
                <p class="logo-primary" style="color: #FFFFFF; padding-left:10px; padding-right:10px; text-align:center;">
                    The AIDEN MK1 Robot and charger is a one time purchase that creates a vessel for our cutting-edge “Smart Chips” offering an array of functionalities for an affordable price.
                    Our business can leverage on-site production to mold the ideal assistant for buyers, and keep the Earth green in the process.
                </p>
                <a class="nav-link active" aria-current="page" asp-page="Store" style="text-align: center; color:#FFBD59">
                    Visit our store page here.

                </a>
            </div>
        </div>
        <div class="boxfade" style="width:100%; padding:10px; background-image: url('../assets/images/circuits.png'); left:0; right:0;">
            <div style="display:flex; flex-direction:column; padding:20px;">
                <div>
                    <h1 class="logo-primary" style="color: #000000; text-align:center;">What can AIDEN do?</h1>
                </div>
                <p class="logo-primary" style="color: #000000; padding-left:10px; padding-right:10px; text-align:center;">
                    He can build, he can teach! He’s equipped with a built-in vehicle-interface module for driving any car on the market. He can help with your homework, or even DJ at your next party. AIDEN currently has over 20 Smart Chips to chose from,
                    each granting AIDEN his own unique skillset.
                </p>
            </div>
        </div>
        <div style="color:#000000; padding:300px; text-align:center;">
            Website by RyDawgE_ on Twitter. If I were you, I would NOT run "awesome_mode()" in the console. You have been warned.
        </div>
    </div>
=</body>



<link rel="stylesheet" href="~/css/index-style.css" asp-append-version="true" />
@* <img src="~/assets/icons/aiden.png" alt="Following Image" id="following-image" style="z-index:2; position:fixed;">
<script src="~/js/aiden.js"></script> *@
