@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>Website made by Ryan "RyDawgE" Ebert for Virtual Enterprise. Created using ASP.NET Razor Pages, with HTML, Javascript, and C#.</p>