@page
@model AI_Aid_VE.Pages.StoreModel
@{
    ViewData["Title"] = "Store";
}

<main style="height:100%; background-image: url('../assets/images/circuits.png');position:absolute; left:0; right:0;">
    <div style="padding:35px; padding-top:60px; position:relative; animation:animatetop 1s;">
        <h1 class="logo-primary" style="text-align: center; color: #000000">AI AID</h1>
        <div class="logo-primary" style=" text-align: center; color: #000000">Live. Life. Simpler.</div>
    </div>
    <div class="btn-container" style="padding-top: 10px;">

        <button type="button" class="btn align-center">
            <a class="nav-link active" aria-current="page" asp-page="Customize">
                <img src="~/assets/robots/mk1.png" class="robot-mark-btn"/>
            </a>
            <div class="logo-primary" style="color:#000000">AIDEN Mk. I Robot</div>
        </button>


        <button type="button" class="btn align-center">
            <a class="nav-link active" aria-current="page" asp-page="Chips">
                <img src="~/assets/icons/chips/chip_group.png" class="robot-mark-btn" />
            </a>
            <div class="logo-primary" style="color:#000000">Slottable SmartChips</div>

        </button>
    </div>
</main>